{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <a href="{{ path('newPhoneOrder') }}">New phone order</a>
    </div>
    <div>
        <table border="1">
            <th>Return order ID</th>
            <th>Order name</th>
            <th>EAN</th>
            <th>IMEI numbers</th>
            <th>Phone condition</th>
            <th>Order status</th>
            <th>Sale order ID</th>
            <th>Description</th>
            {% for phone_order in phone_order_list %}
                <tr>
                    <td>{{ phone_order.returnOrderId }}</td>
                    <td>{{ phone_order.orderName }}</td>
                    <td>{{ phone_order.ean }}</td>
                    <td>
                        <ul>
                            {% for imei in phone_order.imeis %}
                                <li>{{  imei.imei }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ phone_condition[phone_order.phoneCondition] }}</td>
                    <td>{{ order_status[phone_order.orderStatus] }}</td>
                    <td>{{ phone_order.saleOrderId }}</td>
                    <td>{{ phone_order.description }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
