{% extends 'base.html.twig' %}

{% block body %}
    <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/phoneOrderDynamicForm.js') }}"></script>

    <div>
        <a href="{{ path('homepage') }}">Phone orders list</a>
    </div>

    <div>
        {{ form_start(form) }}
        {{ form_label(form.returnOrderId) }}
        {{ form_errors(form.returnOrderId) }}
        {{ form_widget(form.returnOrderId) }}

        {{ form_label(form.orderName) }}
        {{ form_errors(form.orderName) }}
        {{ form_widget(form.orderName) }}

        {{ form_label(form.ean) }}
        {{ form_errors(form.ean) }}
        {{ form_widget(form.ean) }}

        {{ form_label(form.phoneCondition) }}
        {{ form_errors(form.phoneCondition) }}
        {{ form_widget(form.phoneCondition) }}

        {{ form_label(form.orderStatus) }}
        {{ form_errors(form.orderStatus) }}
        {{ form_widget(form.orderStatus) }}

        {{ form_label(form.description) }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description) }}

        <ul class="imeis" data-prototype="{{ form_widget(form.imeis.vars.prototype)|e('html_attr') }}">
            {% for imei in form.imeis %}
                <li>{{ form_row(imei.imei) }}</li>
            {% endfor %}
        </ul>
        {{ form_widget(form.save) }}
        {{ form_end(form) }}
    </div>

{%  endblock %}
